{% extends 'producto/base.html' %}
{% load static %}

{% block body_tittle %}
<span class="site-heading-lower">Servicios</span>
{% endblock body_tittle %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_table }}
            </div>
            <input type="hidden" name="next" value="{% url 'producto:home' %}" />
            <button type="submit" class="btn btn-secondary btn-block mt-2 bg-dark text-white">Crear Cuenta</button>
            <a href="{% url 'producto:home' %}" class="btn btn-secondary btn-block mt-2 bg-dark text-white">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}