
{% extends 'producto/base.html' %}
{% load static %}

{% block body_tittle %}
<span class="site-heading-lower">Tienda Online</span>
{% endblock body_tittle %}

{% block content %}

<div class="container mt-3">
   <div class="row justify-content-center">
     <form class="mb-3 row" action="{% url 'tienda:tienda' %}" method="get">
        <div class="col-auto">
            <input type="text" class="form-control" name="busqueda" placeholder="Busca por producto o marca..."  style="width: 300;">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark">Buscar</button>
        </div>
     </form>
   </div>
 </div>


<div class="container">
     

   <div class="row">
{% for articulo in producto  %}

        <div class="col-md-3">
             <div class="card" style="width: 100%; margin: 20px 20px;">
                  <img src="{{articulo.imagen.url}}" class="card-img-top">
                    <div class="card-body text-center">
                     <h6 class="card-tittle">{{articulo.marca}}</h6>
                       <p class="card-titulo">{{articulo.nombre}}</p>
                       <p class="card-text">${{articulo.precio}}</p>

                    </div>
                    <div class="card-footer text-center">
                     <a href="{% url 'carro:agregar' articulo.id%}" class="btn btn-custom">Agregar al Carro</a>
                 </div>
             </div>
        </div>


  {% endfor %}
   </div>
</div>
{% endblock content %}
