
{% extends 'producto/base.html' %}
{% load static %}

{% block body_tittle %}
<span class="site-heading-lower">Servicios</span>
{% endblock body_tittle %}

{% block content %}

<section style="margin-top: 20px;">
  <div style="width: 75%; margin: auto; text-align: center; color: black;">
     Categorias:
     {% for articulo in producto %}

     {% for categoria in articulo.categorias.all %}
         {{categoria.categoria}}
     {% endfor %}
         
     {% endfor %}
  </div>
</section>
    
<div class="container">
     

  <div class="row">
{% for articulo in producto  %}

       <div class="col-md-3">
            <div class="card" style="width: 100%; margin: 20px 20px;">
                 <img src="{{articulo.imagen.url}}" class="card-img-top">
                   <div class="card-body text-center">
                    <h6 class="card-tittle">{{articulo.marca}}</h6>
                      <p class="card-titulo">{{articulo.nombre}}</p>
                      <p class="card-text">${{articulo.precio}}</p>

                   </div>
                   <div class="card-footer text-center">
                    <a href="{% url 'carro:agregar' articulo.id%}" class="btn btn-custom">Agregar al Carro</a>
                </div>
            </div>
       </div>


 {% endfor %}
  </div>
</div>
{% endblock content %}