
{% extends 'producto/base.html' %}
{% load static %}

{% block body_tittle %}
<span class="site-heading-lower">Blog</span>
{% endblock body_tittle %}

{% block content %}

{% for post in post  %}
    
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lowes ">{{post.titulo}}</span>
          </h2>
         <div style="text-align: left; font-size: 0.8em;">
            Autor: {{post.autor}}

         </div>
         <div style="text-align: center;">
          <a href="{{post.url}}" class="btn btn-block mt-2" style="background-color: white; color: black;">Continuar leyendo</a>
        </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
   
{% endblock content %}
