
{% extends 'producto/base.html' %}
{% load static %}

{% block body_tittle %}
<span class="site-heading-lower">Servicios</span>
{% endblock body_tittle %}

{% block content %}
{% for servicio in servicios  %}
    
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{servicio.titulo}}</span>
            {% for elemento in servicio.contenido.all  %}
            <ul>
            <li class="section-heading-upper">{{elemento.funcion}}</li>
          </ul>
            {% endfor %}
          </h2>
         
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock content %}

